
body {
  margin: 0;
  font: 70% Verdana, Helvetica, Arial, sans-serif;
}
 
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0 0;
  color: #455885;
}
 
h2 {
  margin-top: 0.8em;
  margin-bottom: 0.7em;
  font-size: 170%;
}
 
h3 {
  margin-bottom: 0.6em;
  font-size: 145%;
}
 
h4 {
  margin-bottom: 0.5em;
  font-size: 120%;
}
 
h5 {
  margin-bottom: 0.2em;
  font-size: 110%;
}
 
h6 {
  margin-bottom: 0.1em;
  color: #454545;
  font-size: 105%;
}
 
h6.minor, h6.sub /* in kupu*/ {
  color: #676767;
  font-size: 100%;
}
 
.subhead {
  color: #333767;
  font-weight: bold;  
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 1.6em;
} 
 
p {
  margin: 0.5em 0em;
}
 
ul {
  margin: 0.5em 0em;
  /* override default indent */
  padding-left: 1.4em; 
}
 
ol {
  margin: 0.5em 0em;
  /* override default indent */
  padding-left: 1.9em; 
}
 
dt {
  background: transparent;
  font-weight: bold;
}
 
dd {
  background: transparent;
  margin-left: 1.5em;
}
 
pre {
  padding: 0;
  border: none;
  color: #444466;
  background-color: transparent;
  font-size: 120%;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align:   text-bottom;
}

th {
  text-align: left;
}
