
body {
  color: #2d374c;
  background-color: #dde5ee;
}

div#content {
  margin-left: 20em;
  width: 45em;
}

div.navigation {
  padding-left: 1.6em;
  float: left;
}

div.breadcrumbs {
  margin: 1em 1.6em 2em;
  border-bottom: 2px solid maroon;
  font-size: 90%;
}

.breadcrumbs ul {
  display: inline;
  padding-left: 0;
}

.breadcrumbs ul li {
  display: inline;
}

.breadcrumbs ul li:before {
  content: "\00BB ";
}

.breadcrumbs ul li:first-child:before {
  content: "";
}

.breadcrumbs a:link {
  text-decoration: none;
}
.breadcrumbs a:visited {
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

