/* based on http://www.alistapart.com/articles/goingtoprint/ */

body {
    background: white;
    font-size: 12pt;
}

#navigation, #footer {
    display: none;
}

div#header {
    margin-bottom: -8px;
}
div#header img {
    vertical-align: bottom;
}

#content {
    width: auto;
    margin: 0 5%;
    padding: 0;
    border: 0;
    float: none !important;
    color: black;
    background: transparent none;
}
div#content {
    margin-left: 10%;
    padding-top: 1em;
    border-top: 1px solid;
}

a:link, a:visited {
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
}

#content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
}
